<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
</head>
<body>
    <!--v-for指令基于一个数组渲染一个列表，它和JavaScript的遍历语法相似：-->
    <!---->
    <!--v-for="item in items"-->
    <!--items是一个数组，item是当前被遍历的数组元素。-->

    <div class="app">
        <p>前端学习之路：</p>
        <ol>
            <li v-for="item in items">{{item.text}}</li>
        </ol>
    </div>

    <script type="text/javascript" src="lib/js/vue.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el:'.app',
            data:{
                items:[
                    {text:'HTML'},
                    {text:'CSS'},
                    {text:'JavaScript'},
                    {text:'jQuery'}
                ]
            }
        });
    </script>
</body>
</html>