<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全局组件（component）的基本使用</title>
</head>
<body>
    <div id="component-demo">
        <!-- 2. #component-demo是Vue实例挂载的元素，应该在挂载元素范围内使用组件-->
        <hello-component></hello-component>
    </div>

<script type="text/javascript" src="../lib/js/vue.js"></script>
<script type="text/javascript">

    //1.全局组件注册,并指定组件的标签，组件的HTML标签为<hello-component>
    Vue.component('hello-component',{
        template:'<h1>hello component!</h1>'
    });

    //创建根实例
    var vm = new Vue({
        el:'#component-demo'
    });

</script>
</body>
</html>