<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作用域插槽-列表</title>
    <script type="text/javascript" src="../lib/js/vue.js"></script>
</head>
<body>
    <div class="parent">
        <my-list :items="items">
            <template slot="item" scope="props">
                <li class="my-fancy-item">{{ props.text }}</li>
            </template>
        </my-list>
    </div>

    <template id="myComponent">
        <ul>
            <slot name="item" v-for="item in items" :text="item.text"></slot>
        </ul>
    </template>

    <script type="text/javascript">
        Vue.component('my-list',{
            template:'#myComponent',
            data:function () {
                return {
                    items:[
                        {id:1,text:'列表1'},
                        {id:2,text:'列表2'},
                        {id:3,text:'列表3'},
                        {id:4,text:'列表4'}
                    ]
                }
            }
        });

        var vm = new Vue({
            el:'.parent',
            data:{
                items:[]
            }
        });
    </script>

</body>
</html>