<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>局部组件</title>
</head>
<body>

    <div id="component-demo">
        <local-component></local-component>
    </div>

    <div id="component-demo2">
        <!--这里会报错，因为local-component是#component-demo的局部组件，不能在其他地方使用-->
        <local-component></local-component>
    </div>

    <script type="text/javascript" src="../lib/js/vue.js"></script>
    <script type="text/javascript">

        var child = {
            template:'<h1>局部组件的基本使用!</h1>'
        };

        var vm = new Vue({
            el:'#component-demo',
            components:{
                'local-component':child
            }
        });

        var vm2 = new Vue({
            el:'#component-demo2'
        });
    </script>
</body>
</html>