<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-on绑定自定义事件</title>
    <script type="text/javascript" src="../lib/js/vue.js"></script>
</head>
<body>
    <div id="counter-event-example">
        <p>{{ total }}</p>
        <button-counter v-on:add="incrementTotal"></button-counter>
    </div>

    <script type="text/javascript">

        Vue.component('button-counter', {
            template: '<button v-on:click="incrementCounter">{{ counter }}</button>',
            data: function () {
                return {
                    counter: 0
                }
            },
            methods: {
                incrementCounter: function () {
                    this.counter += 1;
                    this.$emit('add'); //向父组件报告，自己发生了‘add’事件
                }
            }
        });
        new Vue({
            el: '#counter-event-example',
            data: {
                total: 0
            },
            methods: {
                incrementTotal: function () {
                    this.total += 1
                }
            }
        })
    </script>
</body>
</html>